.TramWidget__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.TramWidget__header {
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: left;
    grid-row: 1;
    grid-column: 1;
}

.TramWidget__currentTime {
    font-size: 2em;
    text-align: left;
    font-weight: bold;
    grid-row: 2;
    grid-column: 1;
}

.TramWidget__schedule--current {
    grid-row: span 2;
    grid-column: 2;
}

.TramWidget__schedule--next {
    grid-row: span 2;
    grid-column: 3;
}

.TramWidget__schedule--current .TramWidget__schedule-header {
    text-decoration: underline;
}

.TramWidget__schedule-header {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

.TramWidget__schedule-minute {
    font-size: 1.5em;
}